.wrapper{
	margin: 50px auto;
}
.image{
	padding: 0 10px;
}

.slick-slide{
    transform: scale(0.8);
    transition: all 0.4s ease-in-out;

}
.slick-slide img{
    max-width: 100%;
    transition: all 0.4s ease-in-out;
}
.slick-center{
    transform: scale(1.1);
}